.panel {
    border-radius: 16px;
    display: flex;
    margin: 4vh auto;
    width: 80vw;
    height: 70vh;
    background-color: white;
    box-shadow: rgba(255, 223, 0, 0) 0px 0px 30px 0px, rgba(0, 0, 0, 0.1) 0px 20px 50px 0px, rgba(255, 255, 255, 0.1) 0px 1px 3px 0px inset;
}

.panel .panel-body {
    margin: 0;
    width: 80vw;
    height: auto;
    margin-right: 0 !important;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow-x: auto;
    gap: 2rem;
    flex-direction: row;
}

.card {
    height: 300px !important;
    width: 400px !important;
    transition: transform 1s;
    background: transparent;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 223, 0, 0) 0px 0px 30px 0px, rgba(0, 0, 0, 0.1) 0px 20px 50px 0px, rgba(255, 255, 255, 0.1) 0px 1px 3px 0px inset;
}

.card-content>.badge {
    margin-bottom: 15px;
}

.card-content.first {
    padding-left: 10%;
}

.card-content.last {
    padding-right: 10%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.card>iframe {
    cursor: pointer;
}