<header class="p-3 mb-3 border-bottom">
    <div class="container" bis_skin_checked="1">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
            bis_skin_checked="1">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>

            <div class="dropdown text-end" bis_skin_checked="1">
                <a href="#" class="d-block link-body-emphasis text-decoration-none  "
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-l icon-medium"></i>
                    <i class="fa-solid fa-m icon-medium"></i>
                </a>
            </div>
            
        </div>
    </div>
</header>