<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top border-bottom background">
    <div class="col-md-4 d-flex align-items-center footer-logo" bis_skin_checked="1">
        <a href="#" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <i class="fa-solid fa-l"></i>
            <i class="fa-solid fa-m"></i>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Machado, Lucas</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="./assets/@files/cv.pdf" download="[RESUME] Lucas Machado Developer"
                title="Download my resume"> 
                <i class="fa-solid fa-file-pdf cv-space icon-medium"></i><i
                class="fa-solid fa-download cv-space icon-medium"></i>
            </a>
        </li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.github.com/lucas-mch" target="_blank"
                title="Github"><i class="fa-brands fa-github icon-medium"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/lcsmachaado"
                title="LinkedIn"><i class="fa-brands fa-linkedin icon-medium"></i></a></li>
        <li class="ms-3 end-footer"><a class="text-body-secondary" href="https://wa.me/5548998318024" target="_blank"
                title="Fale comigo!"><i class="fa-brands fa-whatsapp icon-medium"></i></a>
        </li>
    </ul>
</footer>